.alert{
	// background: lighten(grey, 30);
	padding: 1em 1.3em;
	border-radius: .3em;
	margin: 1em 0;
}

.dismissable{
	opacity: 1;
	transition: $transition-default;
}

.close{
	border-radius: .3em;
	font-size: 1.2em;
	padding: 0 .3em;
	float: right;
	margin-left: 0.5em;
	cursor: pointer;
}

.dismissed{
	opacity: 0;
	height: 0;
	padding: 0 1.3em;
	margin: 0;

	.close{
		height: 0;
	}
}