.primary{
    background: $color-primary;
}
.success{
    background: $color-success;
}
.warning{
    background: $color-warning;
}
.danger{
    background: $color-danger;
}
.info{
    background: $color-info;
}