.primary{
    background: $color-primary;
    color: white;
    box-shadow: $color-primary;
    button{
        background: $color-primary;
        border: 1px solid transparent;
        border-color: darken($color-primary, 5%);
        color: white;
    
        &:focus, &:hover{
            background: darken($color-primary, 5%);
            color: white;
        }
    }

}
.success{
    background: $color-success;
    color: white;
    button{
        background: $color-success;
        border: 1px solid transparent;
        border-color: darken($color-success, 5%);
        color: white;
    
        &:focus, &:hover{
            background: darken($color-success, 5%);
            color: white;
        }
    }
}
.warning{
    background: $color-warning;
    color: white;
    button{
        background: $color-warning;
        border-color: darken($color-warning, 5%);
        border: 1px solid transparent;
        color: white;
    
        &:focus, &:hover{
            background: darken($color-warning, 12%);
            color: white;
        }
    }
}
.danger{
    background: $color-danger;
    color: white;
    button{
        background: $color-danger;
        border-color: darken($color-danger, 5%);
        border: 1px solid transparent;
        color: white;
    
        &:focus, &:hover{
            background: darken($color-danger, 5%);
            color: white;
        }
    }
}
.info{
    background: $color-info;
    color: white;
    button{
        background: $color-info;
        border-color: darken($color-info, 5%);
        border: 1px solid transparent;
        color: white;
    
        &:focus, &:hover{
            background: darken($color-info, 5%);
            color: white;
        }
    }
}
