.form-group{
    min-width: 200px;
    position: relative;
    margin-top: 1.4rem;
    &.not-empty-input{
        label{
            top: -1.3em;
            font-size: 0.7em;
        }
    }
    input, textarea, select{
        padding: 0.2em 0;
        border: none;
        border-bottom: 1px solid $color_gray;
        outline: none;
        min-width: inherit;
        
        +label{
            position: absolute;
            left: 0px;
            top: 0;
            transition: $transition-default;
            color: $color-gray;
        }
        
        &:focus{
            border-color: $color-primary;
            +label{
                top: -1.3em;
                font-size: 0.7em;
                color: $color-primary;
            }
        }
    }
    
    textarea{
        resize: vertical;
    }
    
}

.form-radio{
    margin: 1rem 0;
    input{
        visibility: hidden;
        position: absolute;
    
    
     + label{
        position: relative;
        padding-left: 1.3rem;
        margin: .3rem 1rem .3rem 0;
        cursor: pointer;
        &::before, &::after{
            position: absolute;
            width: 1rem;
            height: 1rem;
            border: 2px solid black;
            border-radius: 50%;
            left: 0;
            top: 0.2rem;
            content: ' ';
            transition: $transition-default;
        }
     }
    }
    
    input:checked{
        + label{
            &::before{
               transform: scale(0.5); 
               background: $color-primary;
            }
            &::after{
                border-color: $color-primary;
            }
        }
    }
}


.form-checkbox{
    margin: 1rem 0;
    input{
        visibility: hidden;
        position: absolute;
    
    
     + label{
        position: relative;
        padding-left: 1.3rem;
        margin: .3rem 1rem .3rem 0;
        cursor: pointer;
        &::before{
            position: absolute;
            width: 1rem;
            height: 1rem;
            border: 2px solid black;
            left: 0;
            top: 0.2rem;
            opacity: 0;
            content: '\2714';
            transition: $transition-default;
            line-height: .9;
            color: white;
        }
        &::after{
            position: absolute;
            width: 1rem;
            height: 1rem;
            border: 2px solid black;
            left: 0;
            top: 0.2rem;
            content: ' ';
            transition: $transition-default;
        }
     }
    }
    
    input:checked{
        + label{
            &::before{
                content: "\2714";
               background: $color-primary;
               opacity: 1;
            }
            &::after{
                border-color: $color-primary;
            }
        }
    }
}