.label{
    background: $color-gray-light;
    font-size: .8em;
    padding: 0.2em 0.5em;
    border-radius: .2em;
    color: white;
    position: relative;
    bottom: .1em;

    &:empty{
        display: none;
    }
}