//Zapytanie o media
$x-small: "only screen and (max-width: 575px)";
$small: "only screen and (min-width: 576px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 992px)";
$x-large: "only screen and (min-width: 1200px)";

//Grid
$max-container-width: 1300px;

//Zmienne tekstowe
$primary-font: "Open Sans", sans-serif;
$basic-font-size: 14px;
$basic-line-height: 1.42857;

//Border
$table-border: 2px solid black;

//Kolory
$color-gray: gray;
$color-gray-dark: darken($color-gray, 5%);
$color-gray-light: lighten($color-gray, 5%);
$color-primary: green;
$color-success: #3ec61f;
$color-warning: #ffe32d;
$color-danger: #e80700;
$color-info: #38c0ff;

//Animacje
$transition-default: .5s all;
$transition-button: .3s all;
